.animated-layers-block {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  min-height: 85vh;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #fff;
  background-image: linear-gradient(90deg, #fff 33%, rgba(41, 98, 255, 0.1) 66%);

  .grid-layer {
    position: absolute;
    z-index: -3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/square_background.svg);
    background-position: 50%;
    background-size: 20px;
  }

  .sitemap-container {
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    min-width: 1020px;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding-right: 4%;
    padding-left: 4%;
    margin-right: auto;
    margin-left: auto;

    .column {
      position: relative;
      z-index: 2;
      min-width: 360px;
      padding-top: 10px;
      padding-bottom: 0;

      &.homepage {
        min-width: 524px;
        max-width: 600px;

        .block-title {
          font-size: 4rem;
          line-height: 6rem;
        }

        .block-description {
          font-size: 2rem;
          line-height: 2rem;
        }

        .layers {
          display: flex;
          width: 600px;
          min-width: 600px;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin-top: 20px;
          grid-column-gap: 0;

          .layer {
            min-width: 100px;
          }
        }
      }

      &.animation-layers {
        z-index: -3;
        width: 100%;
        height: 400px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        transition: transform 0.2s;

        .layers {
          position: relative;

          .layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
          }
        }
      }
    }
  }
}
